---
import ContactHero from '../components/ContactHero.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import HeroSection from '../components/Hero.astro'
import Landscapes from '../components/Landscapes.astro'
import Why from '../components/Why.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
  <main>
    <Header />
    <HeroSection />
    <Landscapes />
    <Why />
    <ContactHero />
    <Footer />
  </main>
</Layout>
