---
import Mountain from './icons/MountainIcon.astro'
---

<section
  class='cards bg-gray-100 h-[500px] md:p-0 md:h-[600px] flex justify-center items-center'
>
  <div class='card'>
    <div class='flex justify-center items-center flex-col h-full'>
      <div class='mgc_mountain_2_fill text-8xl'></div>
      <p class='text-gray-900 text-2xl md:text-4xl font-extrabold'>
        ¡Inscríbete AHORA!
      </p>
      <p class='text-gray-500 text-base md:text-lg text-center'>
        Comienza a obtener todos los beneficios de la escalada deportiva.
      </p>
    </div>
    <a href='#' class='card-button'>INSCRIBIRSE</a>
  </div>
</section>

<style>
  .card {
    width: 600px;
    height: 360px;
    border-radius: 20px;
    background: #f3f4f6;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
  }

  .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 700;
    padding: 0.5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
  }

  /*Text*/
  .text-title {
    font-size: 1.5em;
    font-weight: bold;
  }

  /*Hover*/
  .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  }

  .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
  }

  @media (max-width: 768px) {
    .card {
      width: 300px;
    }
    .card-button {
      font-size: 1rem;
    }
  }
</style>
