---
// maybe put de img with promps and react
import '../styles/Gallery.css'
---

<div class='gallery-container shadow-lg shadow-gray-900 rounded-md'>
  <img
    src='/MountainLandscape-1.jpg'
    alt='MountainLandscape-1'
    class='rounded-l-md'
  />
  <img src='/MountainLandscape-2.jpg' alt='MountainLandscape-2' />
  <img
    src='/MountainLandscape-3.jpg'
    alt='MountainLandscape-3'
    class='rounded-r-md'
  />
</div>
